* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: teal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 10px;
    background-color: white;
}

.nav_links {
    display: flex;
    justify-content: center;
}

.nav_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_links a {
    font-size: 20px;
    color: black;
}

.nav_logo img {
    width: 50px;
}

.alert_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert_success {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}



