{% extends "base.html" %}

{% block page__title %}
    Login Page
{% endblock page__title %}

{% block body %}
    <h1>Login Page</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form_group">
            <label for="{{form.username.id_for_label}}">Username</label>
            {{form.username}}
        </div>
        <div class="form_group">
            <label for="{{form.password.id_for_label}}">Password</label>
            {{form.password}}
        </div>
        <button class="btn">Login</button>


    </form>
{% endblock body %}
