{% extends "base.html" %}

{% block page__title %}
    Register Page
{% endblock page__title %}

{% block body %}
    <h2>Register Page</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form_group">
            <label for="{{form.username.id_for_label}}">Username</label>
            {{form.username}}
        </div>
        <div class="form_group">
            <label for="{{form.password.id_for_label}}">Password</label>
            {{form.password}}
        </div>
        <div class="form_group">
            <label for="{{form.confirm.id_for_label}}">Confirm</label>
            {{form.confirm}}
        </div>
        <button class="btn">Sign Up</button>
    </form>
{% endblock body %}